<div class="row">
  <div class="col-md-6">
    <h1>{{ welcomeMessage }}</h1>
  </div>
</div>
<div class="row">
  <table border="1" class="table col-md-6">
    <thead>
      <tr>
        <th scope="col"> Index </th>
        <th scope="col"> Username </th>
        <th scope="col"> Password </th>
        <th scope="col"> Email </th>
        <th scope="col"> Gender </th>
        <th scope="col"> User Type </th>
        <th scope="col"> Location </th>
        <th scope="col"> Delete </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:filterBy track by $index">
        <td> {{ $index + 1 }} </td>
        <td> {{ user.username }} </td>
        <td> {{ user.password }} </td>
        <td> {{ user.email }} </td>
        <td> {{ user.gender }} </td>
        <td> {{ user.userType }} </td>
        <td> {{ user.location }} </td>
        <td><button type="button" class="btn btn-dark" ng-click="deleteUser($index)">Delete</button></td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search">Search</span>
            </div>
            <input type="text" class="form-control" placeholder="Type to Search" aria-label="Search" aria-describedby="search" ng-model="filterBy">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>